@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Inter:wght@300;400;600&display=swap');

/* global */
h2, h3, h4 {
    font-family: 'Bad Script', cursive;
}
h1, h5, h6, p{
    font-family: 'Inter', sans-serif;
}
body {
    overflow-x: hidden;
}

.full-height {
    height: 100vh;
}

/* navbar */
.navbar{
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.15);
}

.nav-item a{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #07689F;
}

.nav-link.active{
    font-weight: 600;
}

/* carousel  */
.carousel-indicators{
    margin-bottom: 2%;
}

.carousel-control-next {
    margin-right: -50px;
}

.carousel-control-prev {
    margin-left: -50px;
}

.carousel-item {
    position: relative;
}

/* text in carousel */
.text-holder {
    position: absolute;
    color: white;
    top: 35%;
    z-index: 1;
}

.text-holder h2{
    font-size: 35px;
    padding-left: 23px;
}

.text-holder h1{
    font-size: 70px;
    font-weight: bold;
}

.text-holder p{
    font-size: 18px;
    width: 50%;
}

/* button(s) */
.button{
    width: 200px;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    color: #07689F;
    border: none;
    border-radius: 8px;
}

.button:hover{
    background-color: #07689F;
    color: white;
}

/* card components */
.card {
    width: 361px;
    height: 680px;
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.10);
    border: none;
    border-radius: 41px;
    overflow: hidden;
    margin: 20px;
    background: none;
}


  
.card-bg {
    width: 361px;
    height: 680px;
    left: 0px;
    top: 0px;
    background: white;
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.25);
    border-radius: 41px;
}
  
.cruise-img {
    width: 319px;
    height: 212px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    transition: 0.3s ease;
}
  

.card-body {
    height: 680px;
    bottom: 20px;
    left: 20px;
    color: #07689F;
}
  
.card-title {
    font-size: 40px;
    font-family: 'Bad Script', cursive;
    font-weight: 400;
    word-wrap: break-word;
    padding-bottom: -20px;
    transition: font-size 0.3s ease;
}
  
.card-text {
    font-size: 22px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    line-height: 33px;
    word-wrap: break-word;
}
  
.price {
    font-size: 23px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    line-height: 34.50px;
    word-wrap: break-word;
}
  
.add-to-trip {
    width: 172px;
    height: 50px;
    border-radius: 12px;
    background-color: white;
    border: 1px #07689F solid;
    text-align: center;
    color: #07689F;
    font-size: 18px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 40%;
}

.weather-icon img{
    width: 50px;
    height: 50px;
    color: #07689F;
    position: absolute;
    margin-left: 65%;
    margin-top: -2%;
}

#weather-text{
    position: absolute;
    margin-left: 65%;
    margin-top: -4%;
}



/* Card Hover Effects */
.small-image {
    width: 70px; 
    height: 70px; 
    border-radius: 20px;
    
}

.small-title {
    font-size: 30px;
}

.location {
    font-weight: bold; 
    display: block; 
    margin-top: 10px; 
    margin-bottom: 10px;
}
  

/* Trips header section */
.header {
    width: 100%;
    height: 104px;
    position: relative;
    margin-top: 5%;
}

.header-background {
    width: 100%;
    height: 63px;
    left: 433px;
    top: 20px;
    position: absolute;
    background: linear-gradient(90deg, #07689F 0%, #68A0D6 100%);
    box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.20);
}

.header-divider {
    width: 54px;
    height: 63px;
    left: 0px;
    top: 20px;
    position: absolute;
    background: #07689F;
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.20);
}

.header-title {
    width: 373px;
    height: 104px;
    left: 90px;
    top: 8px;
    position: absolute;
    color: #07689F;
    font-size: 50px;
    font-family: Helvetica;
    font-weight: 700;
    line-height: 90px;
    word-wrap: break-word;
}


/* footer */
.footer{
    width: 100%;
    height: 160px;
    text-align: center;
    padding-top: 40px;
}

.footer p{
    color: #07689F;
    font-size: 12px;
    margin-top: -10px;
}

/* About us */
.about-us{
    height: 650px;
    color: #07689F;
    background-image: url("../assets/about-us-bg.jpg");
    background-position: center;
    background-size: cover;
}

.about-us h2{
    padding-top: 15%;
    font-weight: bold;
    font-size: 55px;
    text-align: center;
    
}

.about-us p{
    padding-top: 2%;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.about-us-overlay{
    background-color: rgba(255, 255, 255, 0.85);
    height: 650px;
}

/* Filter & Sort Buttons */
.btn-outline-primary{
    width: 150px;
    height: auto;
    color: #07689F;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 14px;
    font-size: 14px;

}

.btn-outline-primary:hover{
    color: white;
}
